@font-face {
    font-family: "Eurofurence";
    src: url(../fonts/eurof35.ttf) format("truetype");
}
.eurofurence {
    font-family: "Eurofurence";
}
header {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 24px;
    height: 150px;
    background: black;
    color: red;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: 100;
}
header.sticky {
    font-size: 24px;
    line-height: 48px;
    text-align: right;
    height: 48px;
    background: black;
    color: black;
    opacity: 1;
    padding-right: 40px;
    transition: all 0.4s ease;
}
.header-links {
    margin-left: auto;
    margin-right: auto;
    background: white;
    float: none;
    width: 400px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
header a {
    margin-left: 30px;
    margin-right: 30px;
}
header p {
    font-size: 72px;
}
header.sticky p {
    font-size: 48px;
}
.main {
    padding-top: 150px;
    transition: all 0.4s ease;
    z-index: 0;
}
.main.sticky {
    padding-top: 48px;
    transition: all 0.4s ease;
}
.info h1 {
    color: black;
}
.header-img {
    max-width: 80px;
    margin-left: -5px;
    margin-top: 5px;
    float: left;
}
span.tab {
    padding: 10px;
}
.nothing-text {
    font-size: 1px;
    background-color: black;
    color: DarkSlateGray;
}

@-webkit-keyframes colorFade {
  0% {
      color: red;
  }

  100% {
      color: white;
  }
}

@keyframes colorFade {
  0% {
      color: red;
  }

  100% {
      color: white;
  }
}

.colorFade {
  -webkit-animation-name: colorFade;
          animation-name: colorFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
